:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --bg-color: rgb(153, 169, 179);
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --viewport-scale: 0.1;
  font: 15px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
  box-sizing: border-box;
}

input {
  height: 1.5rem;
}
#root {
  max-width: 100%;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

@media screen and (min-width: 880px) {
  .form {
    width: 30%;
  }

  .form .togglebutton {
    display: none;
  }

  .resume {
    width: 70%;
  }

  .resume > div {
    top: 10%;
  }
}
@media screen and (max-width: 1000px) {
  .resume > div {
    transform: scale(0.8);
    transform-origin: left;
  }
}

@media screen and (max-width: 900px) {
  .resume > div {
    transform: scale(0.7);
    transform-origin: left;
  }
}

@media screen and (max-width: 879px) {
  .resume {
    width: 100%;
  }
  .resume > div {
    transform: scale(1);
  }

  .form {
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  .form .togglebutton {
    display: block;
  }

  .form.hide {
    transform: translateY(100%);
    transition: transform 0.4s ease-out;
    bottom: 50px;
    padding-top: 0;
  }

  .form.reveal {
    transform: translateY(0);
    height: -webkit-fill-available;
  }
}

@media screen and (max-width: 700px) {
  .resume > div {
    transform: scale(0.8);
    transform-origin: center;
  }
}

@media screen and (max-width: 600px) {
  .resume > div {
    transform: scale(0.7);
    transform-origin: center;
  }
}

@media screen and (max-width: 500px) {
  .resume > div {
    transform: scale(0.6);
    transform-origin: center;
  }
}

@media screen and (max-width: 400px) {
  .resume > div {
    transform: scale(0.5);
    transform-origin: center;
  }
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

@media print {
  body * {
    visibility: hidden;
    display: none;
  }

  .form {
    display: none !important;
  }

  .resume {
    width: 100%;
  }
  #printablearea,
  #printablearea * {
    display: block !important;
    visibility: visible;
    box-shadow: none;
  }

  #printablearea {
    position: absolute;
    left: 0;
    right: 0;
    width: -moz-available;
    width: -webkit-fill-available;
  }
}
