.accordion {
  border-radius: 5px;
}

.svgs {
  background-color: #fcf8f05e;
  padding: 5px 10px;
  display: flex;
  justify-content: space-evenly;
}
.svgs img {
  width: 50px;
  transition: transform 0.3s ease;
}

.svgs img:hover {
  transform: scale(1.1);
}

.form {
  width: 30%;
  min-width: 300px;
  padding: 2rem 2rem 0 2rem;
  background-color: var(--bg-color);
}

.form .form-accordion {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-accordion > div {
  display: flex;
  flex-direction: column;
  text-align: left;
}
